.results {
    display: flex;
    flex-flow: row wrap;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    justify-content: flex-start;
    align-content: flex-start;
    row-gap: 50px;
}

.result {
    flex: 30%;
    max-width: 30%;
    margin-right: 1%;
    padding: 1%;
}