*{
    font-family: sans-serif;
    --text-color-nav: #1eba84;
    --text-color-nav-minor: #a8e8a2;
    --text-color-h1: white;
    --text-color-form-label: darkgreen;
    margin: 0 0;
}

main{
    padding-top: 25px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--text-color-nav-minor), var(--text-color-nav));
}

nav{
    position: sticky;
    margin: 0px auto;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgb(191, 234, 205);
}

nav div.navspacer {
    width: 1%;
}

.logo{
    flex-basis:20%;
}

.logo img{
    width: 150px;
}

.nav-links{
    margin-right: 5%;
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    text-decoration: none;
    color: var(--text-color-nav);
    font-size: 25px;
}

.shadow{
        box-shadow: 0 1pxx 4px rgba(0,0,0,0.3), 0 0 40 px rgba(0,0,0,0.1) inset;
}
.shadow:before,
.shadow:after{
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    top: -5%;
    bottom: 0;
    left: 0%;
    right: 0%;
}